@charset "UTF-8";
@font-face {
  font-family: "Futura-Medium";
  src: url("/FuturaStd-Medium.eot");
  src: url("/FuturaStd-Medium.eot?#iefix") format("embedded-opentype");
  src: url("/FuturaStd-Medium.otf") format("opentype"); }

@font-face {
  font-family: "Futura-Heavy";
  src: url("/FuturaStd-Heavy.eot");
  src: url("/FuturaStd-Heavy.eot?#iefix") format("embedded-opentype");
  src: url("/FuturaStd-Heavy.otf") format("opentype"); }

@font-face {
  font-family: "Thirsty-Medium";
  src: url("/ThirstyScript-Medium.eot");
  src: url("/ThirstyScript-Medium.eot?#iefix") format("embedded-opentype");
  src: url("/FuturaBk-Book-Italic.otf") format("opentype"); }

:root {
  --color-orangey: #8ad2e6;
  --color-teal: #0096c0;
  --color-red: #0096c0;
  --color-red-dark: #e8a78f;
  --color-white: #ffffff;
  --color-gray-light: #fdebeb;
  --color-gray-dark: #333;
  --color-pan-color: #b99737;
  --color-pallete-work: #610000;
  --color-pallete-compliment: #183b00;
  --color-gray-dark-pizza: #4e4e4e;
  --font-main: "Futura-Medium", Helvetica, Arial, sans-serif;
  --font-main-heavy: "Futura-Heavy", Helvetica, Arial, sans-serif;
  --font-heading: "Thirsty-Medium", Helvetica, Arial, sans-serif;
  --padding: 2rem;
  }

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.nav-box {
  margin: 0;
  padding: 0;
}

.main-nav {
  display: flex;
  justify-content: center;
  width: 100%;
  /*background: var(--color-pan-color);*/
   }
  @media only screen and (max-width: 37.5em) {
    .main-nav {
      display: none; } }
  .main-nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35em;
    height: 5rem;
    padding: 0 2rem;
    }
    .btn-container {
      display: flex;
      align-items: center;
    }

    .btn {
    float: right;
    align-items: center;
    border-radius: 40px;
    font-size: 14px;
    padding: 7px 16px;
    }